{
  "env": {
    "browser": true
  },

  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "noop": true,
    "expect": true,
    "expectResolve": true,
    "expectReject": true,
    "$only": false,
    "$skip": false,
    "$if": false
  }
}
