{
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "noop": true,
    "expect": true,
    "expectResolve": true,
    "expectReject": true,
    "$only": false,
    "$skip": false,
    "$if": false
  },

  "rules": {
    "max-statements": 0,
    "max-lines": 0
  }
}
