{
  "env": {
    "browser": true,
    "mocha": true
  },

  "globals": {
    "$only": false,
    "$skip": false,
    "$if": false,
    "$serial": false,
    "tags": false,
    "fn": false,
    "expect": false
  }
}
