{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true
     }
  },
  "env": {
    "commonjs": true,
    "browser": true,
    "node": true,
    "es6": true
  }

 // "parser": "babel-eslint",
/*
  "ecmaFeatures": {
    "modules": true,
    "impliedStrict": true
  },

  "env": {
    "es6": true,
    "commonjs": true,
    "node": true
  },

  "rules": {
    "no-console": 0
   // "comma-dangle": ["error", "only-multiline"],
   // "no-multi-spaces": 2,
   // "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}]
  }
*/
}
