{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true
     }
  },
  "env": {
    "commonjs": true,
    "browser": true,
    "node": true,
    "es6": true
  },

  "rules": {
    "max-depth": ["error", {"max" : 2}],
    "complexity": ["error", {"max" : 4}]
   // "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}]
  }

}
